<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 15px;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>URL Data</h2>
    <table>
        <tr>
            <th>Short Id</th>
            <th>Orignal URL</th>
            <th>Click Count</th>
        </tr>
        <% data.forEach((item, index) => { %>
            <tr>
                <td><%= item.shortId %></td>
                <td><%= item.redirectURL %></td>
                <td><%= item.visitHistory.length %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>